.page {
  margin: auto;
  max-width: 1280px;
  background: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 800px) {
  .page {
    margin: auto;
    max-width: 320px;
  }
}
