.profile__position {
  margin: 0;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: #ffffff;
}

@media screen and (max-width: 940px) {
  .profile__position {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 799px) {
  .profile__position {
    margin: 0 auto 33px 0;
    text-align: center;
  }
}
