.popup__container_picture {
  background-color: transparent;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .popup__container_picture {
    max-width: 800px;
    margin: 0 auto;
    object-fit: cover;
  }
}
