.popup__close {
  margin: 0;
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: black;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 800px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -35px;
    right: -23px;
  }
}
