.popup__field {
  box-sizing: border-box;
  border: none;
  width: 358px;
  height: 27px;
  margin: 0 auto;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1170px) {
  .popup__field {
    width: 238px;
  }

  .popup__field:last-of-type {
    margin-bottom: 45px;
  }
}
